html {
    font-family: 'Indie Flower', cursive;
}

.css-selector {
    background: linear-gradient(326deg, #f4d03f, #16a085);
    background-size: 400% 400%;
    animation: AnimationName 20s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.dp {
    position: relative;
    top: 5px;
    margin: 1rem;
    width: 5rem;
    height: 5rem;
}

.clip {
    z-index: 1;
    margin-top: 2.6rem;
    position: absolute;
    left: 5.3rem;
    height: 3rem;
    width: 3rem;
    transition: .5s;
    transform: rotate(6deg);
}

.inputs {
    margin-top: 4rem;
    margin-left: 80px;
    padding-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.432);
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    background-color: #ffc;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    width: 300px;
    height: 250px;
    transition: transform .3s linear;
    transform: rotate(6deg);
}

.nheading {
    color: #000000af;
    font-size: 40px;
    padding-left: 1.4rem;
}

.topic {
    position: absolute;
    left: 40%;
    top: 10px;
    font-size: 40px;
}

.add_note {
    padding: 3px;
    font-size: 30px;
    position: absolute;
    top: 130px;
    left: 25rem;
    width: 150px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    transition: .4s linear;
    background-color: #f4d03f;
}

.add_note:hover {
    background-color: #094236;
    color: white;
}

.add_note:focus {
    outline: none;
}

.number {
    display: inline;
    margin-left: -14px;
}

.textarea {
    resize: none;
    background-color: #ffc;
    width: 17rem;
    height: 10rem;
    font-size: 22px;
    font-family: 'Caveat', cursive;
}

.mainhead {
    font-size: 40px;
    margin: 1rem 2rem 2rem 5rem;
    width: 25%;
    cursor: pointer;
}

.printer {
    margin: 1rem 1rem 3rem 5rem;
    padding-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.493);
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    background-color: #ffc;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    max-width: 500px;
    max-height: 300px;
    min-width: 300px;
    min-height: 150px;
    display: inline-flex;
    font-size: 22px;
    font-weight: 100;
    transition: .2s linear;
    position: relative;
    word-wrap: break-word;
    overflow: auto;
}

.note_save {
    margin-top: 2.2rem;
    margin-left: -3rem;
    text-align: left;
}

.delete {
    font-size: 22px;
    width: 2cm;
    border: 1px solid black;
    height: 0.8cm;
    background-color: yellow;
    padding: 0.5px;
    position: static;
    bottom: 0px;
    margin-top: 10px;
    margin-right: 10px;
    position: sticky;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(168, 184, 143, 0.801);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(326deg, #f4d03f, #16a085);
    background-size: 400% 400%;
    animation: AnimationName 20s ease infinite;
    border: .2px solid yellow;
    border-radius: 10px;
}